<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="wall-container">
      <div id="wall"> 
        <div class="home_title">
          <a style="text-decoration:none" href="/">
            <div class="title" id="home_title">
              <h1>Hydration Calculator</h1>
            </div>
          </a>
        </div>
        <div class="about-us-content" id="about_us">
          <div class="image" id="picture_us">
          <img src="https://raw.githubusercontent.com/kthffmn/grace-hopper/master/Isabelle-and-Jasmyne.jpg" width = 400px/>
          </div>
          <p> The two girls above are Isabelle and Jasmyne, who worked together to build this web app about hydration. They are really silly, but get a lot of work done. </p>
        </div>
      </div>
    </div>
  </body>
</html>