    <!doctype html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
  <body>
<div id="wall"> 
        <div class="title" id="home_title">
            <h1>Hydration Calculator</h1>
        </div>
  <div class="content2" id="about_us">
    <p> The two girls above are Isabelle and Jasmyne, who worked together to build this web app about hydration. They are realy silly, but get a lot of work done. </p>
  </div>
    </div>
  </body>
</html>