<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
     <div id="wall-container">
      <div id="wall"> 
        <div class="home_title">
          <h1>Hydration Calculator</h1>
        </div>

      <a href="/calculator">
        <div class="block" id="calc">
          <b>Calculator</b><h6>Find out how much water you need to drink today!</h6>
        </div>
      </a>

      <a href="/about">
        <div class="block" id="about">
          <b>About</b>
          <h5>Meet the makers.</h5>
        </div>
      </a>
      </div>
    </div>
  </body>
</html>