<!doctype html>
<html>
  <head>
      <title>Hydrate! - Results</title>
    <link rel="icon" href="images/droplet-icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="wall-container">
      <div id="wall"> 
        <a style="text-decoration:none" href="/">
          <div class="home_title">
            <h1>Hydration Calculator</h1>
          </div>
        </a>
        <div class="content">
        <h3> Today you should drink <%=@all_ounces%> ounces. <%=@temperature%></h3>
        </div>
        <% @number_of_cups.times do %>
            <img src="http://images.clipartpanda.com/plastic-clipart-AlanSpeak-PlasticCup-water.png" width ="100px"/>
        <% end %>
  <!--       <div class="image" id="cups">
          <img src="http://images.clipartpanda.com/plastic-clipart-AlanSpeak-PlasticCup-water.png" width = 150px/>
        </div> -->
      </div>
    </div>
  </body>
</html> 

