@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
.block {
    height: 174px;
    width: 150px;
/*     float: left; */
    margin: 137px;
    display: inline-block;
    position: relative;
    border: 10px double #FFFFFF;
    box-shadow: 7px 7px 40px #606060;
}

#calc {
    background: red;
    font-size: 1.5em;
    font-family: 'Indie Flower';
    color: black;
    text-align: center;
}

#about {
    background: #649ECE;
    font-size: 1.7em;
    font-family: 'Indie Flower';
    color: #FFFFFF;
    text-align: center;
}




#picture_us {
  float: center;
}

#wall-container {
  width: 100%;
  text-align: center;
}

#wall {
/*     height: 75%;
    width: 75%; */
/*     position: absolute;
    left: 50%;
    top: 50%; 
    margin-top: -300px; 
    margin-left: -300px;
  */
    display:inline-block;
    width: 900px;
    min-height: 500px;
  position: relative;
   /*  margin: -225px 0 0 -375px; */
    background-image: url(/images/Water_drop_half.jpg);
}
 .block1 {
    height: 174px;
    width: 150px;
    border: 10px dotted #FFFFFF;
    box-shadow: 7px 7px 40px #606060;
    display: inline-block;
    vertical-align:middle;
    margin: 20px;
    
}

.container {
    width: 100%; 
    text-align: center;
}

#weight{
    background: red;
    font-size: 1.5em;
    font-family: 'Indie Flower';
    color: black;
    text-align: center;
}

#workout {
    background: #649ECE;
    font-size: 1.2em;
    font-family: 'Indie Flower';
    color: black;
    text-align: center;
}

#temp {
    background: pink;
    font-size: 1.5em;
    font-family: 'Indie Flower';
    color: black;
    text-align: center;
}

.click {
    width: 100%;
    text-align: center;
}

.home_title {
    text-align: center;
    font-family:'Indie Flower';
    color: black;
    margin-top: 60px;
}

.second_header {
    text-align: center;
    font-family:'Indie Flower';
    color: black
    font-size: 3em;
    margin-top: 60px;
}

#about_us {
    font-size: 1.2em;
    font-family: 'Indie Flower';
    color: black;
    text-align: center;
}

.about-us-content {
   font-size: 1.7em;
   font-family: 'Indie Flower';
}

.content {
   font-size: 1.7em;
   font-family: 'Indie Flower';
}